body,
html {
  background-color: rgb(35, 37, 38);
  width: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
header h4 {
  font-size: 0.5em;
}
@media screen and (min-width: 400px) {
  header h4 {
    font-size: 1em;
  }
}
footer {
  width: 100%;
  text-align: center;
}
body,
h1,
h2,
h3,
h4 {
  color: white;
}
a {
  color: rgba(76, 172, 252);
}

.logo {
  float: left;
  margin-right: 10px;
  margin-top: -10px;
}
.page {
  width: 100%;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  word-break: break-word;
}

.vids {
  padding: 0;
  margin: 0;
}
.labels {
  margin-left: -5%;
  width: 105%;
}
.labels li {
  float: left;
  list-style: none;
  cursor: pointer;
  max-width: 40%;
  margin-right: 5%;
}
.labels h2 {
  color: #468ed8;
}
h2.activeLabel {
  color: rebeccapurple;
}
.demo .vids li {
  display: none;
}
.demo .activeVid {
  display: block !important;
}
.youtubePreviewMode {
  height: 200px;
  overflow: hidden;
  opacity: 0.4;
  width: 100%;
  cursor: pointer;
  margin-left: -5px;
}
.youtubePreviewMode * {
  pointer-events: none;
}

.popup {
  background: rgba(0, 0, 0, 0.8);
  color: gold;
  text-shadow: 0 0 1px red;
  position: absolute;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.333s ease-in-out;
}
.showing {
  visibility: visible;
  opacity: 1;
}
.popupLink {
  padding: 5px;
}

.floating-label {
  position: absolute;
  margin-left: -155px;
  margin-top: -18px;
  font-size: 12px;
}
.seo-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
