body,
html {
  background-color: rgb(50, 50, 40);
  width: 100%;
  line-height: 1.6;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  color: white;
}
header h1 {
  margin: 20px 0 5px 10px;
  line-height: 1;
}
header p {
  margin: 0 0 0 10px;
  color: rgb(168, 160, 149);
}
header > div {
  display: flex;
  margin-top: 5px;
}
nav {
  position: sticky;
  z-index: 1000000;
  top: 0;
  width: 100%;
  background-color: rgb(28, 30, 31);
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
nav ul a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
  color: #468ed8;
}
nav ul a.rainbow {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 5s linear alternate infinite;
  background-size: 300% 300%;
  text-decoration: none;
  margin-right: 10px;
  color: #fff;
}
@media screen {
  nav ul a.rainbow {
    background-image: linear-gradient(
      60deg,
      rgb(171, 89, 7),
      rgb(150, 34, 11),
      rgb(153, 14, 53),
      rgb(117, 68, 125),
      rgb(57, 86, 141),
      rgb(13, 122, 138),
      rgb(6, 143, 124),
      rgb(58, 121, 86)
    );
    background-color: initial;
    color: rgb(232, 230, 227);
  }
}
body,
h1,
h2,
h3,
h4 {
  color: white;
}
a {
  color: rgba(76, 172, 252);
}
.page {
  width: 100%;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-word;
}

.labels li {
  float: left;
  list-style: none;
  margin-right: 2em;
  cursor: pointer;
}
.labels h3 {
  color: #468ed8;
}
h3.activeLabel {
  color: rebeccapurple;
}
.demo .vids li {
  display: none;
}
.demo .activeVid {
  display: block !important;
}
.youtubePreviewMode {
  height: 200px;
  overflow: hidden;
  opacity: 0.2;
  width: 100%;
  cursor: pointer;
}
.youtubePreviewMode * {
  pointer-events: none;
}

.popup {
  background: rgba(0, 0, 0, 0.8);
  color: gold;
  text-shadow: 0 0 1px red;
  position: absolute;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.333s ease-in-out;
}
.showing {
  visibility: visible;
  opacity: 1;
}
.popupLink {
  padding: 5px;
}

.floating-label {
  position: absolute;
  margin-left: -155px;
  margin-top: -18px;
  font-size: 12px;
}
